page-home {
    .bordershow {
    position: absolute;
    width: 84%;
    box-shadow: 0 0 20px 2px rgba(46, 48, 51, 0.74);
    margin: 38% 0% 0% 5%;
    background-color: rgba(255, 255, 255, 0);
    height: 51%;
    top: 10%;
    }
    ion-input {
        box-shadow: 0 0 19px -3px #01328e;
        padding: 0% 0% 1% 0%;
        margin: 1% 0%;
    }
    ion-input.ng-valid {
        border-left: solid 5px;
        border-left-color: green;
    }
    ion-input.ng-invalid {
        border-left: solid 5px;
        border-left-color: red;
    }
    .container {
        padding: 16px;
    }
    span.psw {
        float: right;
        padding-top: 16px;
    }
    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
        span.psw {
            display: block;
            float: none;
        }
        .cancelbtn {
            width: 100%;
        }
    }
    
    h1 {
        color: whitesmoke;
        text-align: center;
    }
    a {
        color: midnightblue;
    }
    img {
        background-color: rgba(255, 255, 255, 0);
        margin: auto;
        display: -webkit-box;
    }
    ion-title {
        text-align: center;
    }
    button {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    div {
        font-family: myFirstFont;
    }
}